*{margin: 0; padding: 0;list-style: none;font-family: "arial","Microsoft YaHei","微软雅黑","宋体";}
.header{
	width: 1120px;
	height: 70px;
	margin: 0 auto;
}
.logo{margin-top: 10px; display:inline-block;}
img{border:0;}
.nav{width: 650px;float: right;height: 70px;}
.nav li{float: left;width: 60px;height: 67px;text-align: center;margin-left: 30px;}
.nav .selected{border-bottom: 3px solid #f60;}
.nav a{font-size:20px;color:#445;line-height: 67px;text-decoration: none;}
/*banner部分*/
#banner{
	height: 400px;
	position: relative;
}
#banner .one{
	width: 100%;
	height: 400px;
	display: block;
	position: absolute;
	background: url(../img/pc5.jpg) center no-repeat\0;
}
#banner .two{
	width: 100%;
	height: 400px;
	display: block;
	position: absolute;
	background: url(../img/UCbrand.jpg) center no-repeat;
}
#banner .three{
	width: 100%;
	height: 400px;
	display: block;
	position: absolute;
	background: url(../img/uctoutiao.png) center no-repeat;
}
#banner span{
	width: 20px;
	height: 20px;
	display: inline-block;
	border-radius: 10px;
	background-color: #fff;
	position: relative;
	z-index: 100;
	top:350px;
	left: 48%;
	margin-right: 10px;
	color: transparent;
	cursor: pointer;
}
#banner .foucs{
	width: 20px;
	height: 20px;
	display: inline-block;
	border-radius: 10px;
	background-color: #f60;
	position: relative;
	z-index: 100;
	top:350px;
	left: 48%;
	margin-right: 10px;

}
/*===========icon_list样式=============*/
.icon_list{
	height: 175px;
	width: 100%;
	border-bottom:1px solid #ddd;
	position: relative;
}
.icon{
	width: 1120px;
	height: 175px;
	margin: 0 auto;
	overflow: hidden;
}
.icon a{
	display: block;
	text-decoration: none;
	position: relative;
}
.icon li{
	float: left;
	width:130px;
	height: 135px;
	text-align: center;
	margin-right: 30px;
	margin-top: 10px;
}
.icon div{
	width:116px;
	height: 135px;
	background: url(../img/ico.png) no-repeat;
	transition: all .2s;
}
.icon .android{background-position: 35px 25px;}
.ad:hover .android { background-position :35px -100px; }
.ad:hover .circle { display: block; }
.ad:hover .load { display: none; }

.icon .iphone{background-position: -108px 25px;}
.ip:hover .iphone{background-position: -108px -95px;}
.ip:hover .circle{display: block;}
.ip:hover .load{display: none;}

.icon .pcc{background-position: -250px 25px;}
.pc:hover .pcc{background-position: -250px -95px;}
.pc:hover .circle{display: block;}
.pc:hover .load{display: none;}

.icon .b_pad{background-position: -944px 25px;}
.pad:hover .b_pad{background-position: -944px 150px;}
.pad:hover .circle{display: block;}
.pad:hover .load{display: none;}
.icon .adownload,.idownload{
	display: block;
    font-size: 16px;
    width: 100px;
    height: 26px;
    line-height: 26px;
    position: absolute;
    color: #f60;
    border-radius: 5px;
    background-color: #fff;
    border: 1px solid #f60;
}
.icon .adownload:hover{background-color: #f60; color: #fff;}
.icon .idownload:hover{background-color: #f60; color: #fff;}
.icon .adownload{top: 35px;left: 10px;}
.icon .idownload{top: 70px;left: 10px;}

.icon .b_tv{background-position: -678px 25px;}
.tv:hover .b_tv{background-position: -678px -93px;}
.tv:hover .circle{display: block;}
.tv:hover .load{display: none;}

.icon .b_wp{background-position: -817px 25px;}
.wp:hover .b_wp{background-position: -817px -95px;}
.wp:hover .circle{display: block;}
.wp:hover .load{display: none;}
.icon .load{
	position: relative;
    top: 95px;
    left: 10px;
    font-size: 12px;
    color: #445;
}
.gx{
	font-size: 12px;
	color: #999;
	z-index: 100;
	display: block;
	position: absolute;
	top:140px;
	left:25px;
}
.icon .circle{
	width: 130px;
	height: 130px;
	border:1px solid #999;
	border-radius: 100px;
	position: relative;
	top:-130px;left: 5px;
	display: none;
}
.icon .download{
	display: block;
	color: #f60;
	position: absolute;
    top: 90px;
    left: 40px;
    font-size: 12px;
}
.twocoder{
	position: absolute;
	top:-30px;
	z-index: 100;
}
/*content部分*/
.content{
	width: 1120px;
	margin: 60px auto 0;
	height: 457px;
}
.content div{
	width: 290px;
	height: 457px;
	float: left;
}
.content .mid{
	margin: 0 100px;
}
.content h1{
	float: left;
	margin: 15px 0;
	color: #445;
}

.content h3{
	float: right;
	color: #445;
	margin-top: 25px;
}
.content span{
	color:#ccc;
	font-size: 12px;
	margin-left:3px;
	display: inline-block;
}
.left img{
	vertical-align: bottom;
}
.content .box{
	width: 290px;
	height: 36px;
	background-color:#f2f2f2 ;
	color:#404040;
	text-align: center;
	line-height: 36px;
	margin-bottom: 20px;
}
.content .text{
	line-height: 25px;
	color: #445;
}
/*============footer部分============*/
.fbg{
	background-color: #333;
	width: 100%;
}
.fbg:before{
	content: '';
	display: table;
}
.footer{
	width: 1120px;
	margin: 20px auto 0;
}
.foot_in{
	overflow: hidden;
}
.foot_in li{
	float: left;
	width: 185px;
}
.foot_in p{
	/*display: block;*/
	font-size: 12px;
	zoom:1;
	line-height: 19px;
}
.foot_in a{
	font-size: 12px;
	text-decoration: none;
	color: #666;
}
.foot_in a:hover{
	color: #f60;
}
.language{
	width: 130px;
	border:1px solid #434343;
	height: 24px;
	margin-bottom: 5px;
}
.language span{
	width: 24px;
	height: 24px;
	float: left;
	background: url(../img/ico.png)-6px -250px;
}
.language .zh{
	font-size: 15px;
	float: left;
	margin-top: 4px;
	color:#666;
}
.language .arrow{
	float: right;
	background: url(../img/ico_lang_arrow.png);
	width: 16px;
	height: 16px;
	margin: 6px 7px;
}
.othersite span{
	width: 20px;
    height: 20px;
    float: left;
}
.othersite .icon_mobile{
    background: url(../img/ico.png)-10px 220px;
}
.othersite .icon_pad{
    background: url(../img/ico.png)-10px 123px;
}
.othersite .icon_tv{
    background: url(../img/ico.png)-10px 90px;
}
.othersite .icon_wb{
    background: url(../img/ico.png)-8px 188px;
}
.othersite .icon_tb{
    background: url(../img/ico.png)-10px 160px;
}
.othersite .icon_wx{
    background: url(../img/ico.png)-10px 55px;
}
.othersite .mobile{
	overflow: hidden;
	display: block;
}
.othersite .mobilesite{
	float: left;
    font-size: 14px;
    color: #666;
	margin: 3px 5px;
}
.links{
	width: 1120px;
	margin-top: 20px;
	border:1px dotted #666;
	border-left: none;
	border-right: none;
	position: relative;
	transition: all .3s;
	height: 28px;
	overflow: hidden;
}
.links a{
	display: inline-block;
	border-right: 1px solid #666;
	font-size: 12px;
	text-decoration: none;
	color:#aaa;
	padding: 0 7px;
	transition: all .3s;
	z-index: -1;
	
}
.link_u{
	margin: 5px 0;
}
.links:before{
	content: '';
	display: table;
}
.links .down{
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url(../img/ico.png)-105px -248px;
	position: absolute;
	bottom:6px;right: 0px;
}
.up{
	position: absolute;
	bottom:6px;
	width: 16px;
	height: 16px;
	background-position: -124px -248px !important;
}
.link_d{
	margin: 5px 0;
	/*display: none;*/
}
.flink{
	width: 1120px;
	height: 50px;
	overflow: hidden;
	margin-top: 5px;
	border:1px dotted #666;
	border-top:none;
	border-left: none;
	border-right: none;
	transition: all .3s;
	position: relative;
}
.flink a{
	text-decoration: none;
	color:#666;
	font-size: 12px;
	border-right: 1px solid #666;
	padding: 0 6px;
}
.flink .uptwo{
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url(../img/ico.png)-105px -248px;
	position: absolute;
	bottom:6px;right:0;
}
.downtwo{
	/*position: relative;*/
	background: url(../img/ico.png)-124px -248px !important;
}
.flink .ylink{
	border-right: none;
}

.flink .slink{
	margin-left: -18px;
}
/*copy部分*/
.copy{
	width: 1120px;
	height: 200px;
	margin: 20px auto;
}
.copy .copy_logo{
	width: 150px;
	float: left;
}

.copy .copy_text{
	width: 500px;
	float: left;
	color: #666;
	font-size: 12px;
}
.fanav{
	float: right;
	width: 400px;
}
.fanav a{
	display: inline-block;
	margin-left: 18px;
}
